[user]
	name = hahapigs
	email = 15711385916@163.com

# self
[includeIf "gitdir:~/dev/self/"]
	path = ~/.config/git/config-self

# work
[includeIf "gitdir:~/dev/work/"]
	path = ~/.config/git/config-work

# e.g.
# echo 'export GIT_HOOKS_PATH="$(pwd)/.git/hooks"' >> .envrc && direnv allow
[includeIf "env:GIT_HOOKS_PATH"]
	path = ~/.config/git/direnv_hooks.inc

# theme
[include]
	path = ~/.config/git/themes/catppuccin.gitconfig

[safe]
	directory = /usr/local/Homebrew/Library/Taps/homebrew/homebrew-core
	directory = /usr/local/Homebrew/Library/Taps/homebrew/homebrew-cask
	directory = /usr/local/Homebrew
	directory = ~/dev

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[protocol "file"]
	allow = always

[credential]
	helper = libsecret

[core]
	editor = vim
    pager = delta -w ${FZF_PREVIEW_COLUMNS:-$COLUMNS}
    excludesfile = ~/.config/git/.ignore

[interactive]
    diffFilter = delta --color-only

[delta]
	features = catppuccin-macchiato
    navigate = true
    line-numbers = true
	side-by-side = false
	true-color = always
	hyperlinks = true

[merge]
	tool = vimdiff
	conflictstyle = diff3

[mergetool "vimdiff"]
	path = nvim
	keepBackup = false

[diff]
	tool = vimdiff

[pull]
	rebase = false
